@{ 
    ViewData["Title"] = "管理者頁面";
}


<div id="appadmini">
    <fieldset>
        <div>
            {{localpageg.name}}
            <input type="text" v-model="docname" />
        </div>
        <div>
            {{localpageg.gender}}
            <input type="text" v-model="docgender" />
        </div>
        <div>
            {{localpageg.account}}
            <input type="text" v-model="docaccount" />
        </div>
        <div>
            {{localpageg.password}}
            <input type="text" v-model="docpassword" />
        </div>
       
 
  
    </fieldset>
    <div>
        <button v-on:click="add()">
        {{localpageg.reging}}
        </button>
    </div>
</div>
<hr />
<div id="appres">
    <table class="table-bordered">
        <tr>
            <th>Id</th>
            <th>帳號</th>
            <th>姓名</th>
            <th>動作</th>
        </tr>
        <tr v-for="(item,index) of searchalldoclist">
            <td>{{item.id}}</td>
            <td>{{item.account}}</td>
            <td>{{item.name}}</td>
            <td>
                <button v-on:click="deletedocId(item.id,index)">刪除</button>
                <button>修改</button>
            </td>
        </tr>
    </table>
  
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
 new Vue(
     {
         el: '#appadmini',
         data: {
                 docname: '',
                 docgender: '',
                 docaccount: '123',
             docpassword: '123',
             localpageg: {
                 name: '醫生姓名:',
                 gender: '性別:',
                 account: '帳號:',
                 password: '密碼:',
                 reging:'送出'
             }
         },
         methods: {
             add: function () {
   
                 let data = new FormData();

                 data.append('Name', this.docname);
                 data.append('Gender', this.docgender);
                 data.append('Account', this.docaccount);
                 data.append('Password', this.docpassword);

                 let url = '/Admin/Create';
                 axios.post(url,data,
                    {
                         headers: {
                             'Content-Type': 'application/x-www-form-urlencoded'
                                         }
                     }
                  
                 )
                     .then(function (response) {
                         alert(response.data);


                         location.reload();
                     })
                     .catch(function (error) {
                         console.log(error);
                     });
             }
         }
        })

</script>

<script>
    new Vue(
        {
            el: '#appres',
            data() {
                return {
                    searchalldoclist: [],  //給前端呈現使用
                    item: {
                        id:'',
                        account: '',
                        name: '',
                    }
                }
            }, methods: {
                deletedocId: function (id) {
               
                 //   let url = '/Admin/DeleteDoc/id?='+id;
                 ///*   let data = id;*/
                 //   console.log(id);
                 //   console.log(typeof (id));

                    axios.post('/Admin/DeleteDoc/'+ id)
                        .then(function (res) {
                            console.log('痘痘');
                            alert(res.data);
                            location.reload();
                        })
                        .catch(function (err) { console.log(err); });
                }
            },
            mounted: function () {
                // 綁定
                let self = this;
                let url = '/Admin/Getlist';
            
                axios.get(url)
                    .then(function (res) {
                        console.log(res.data);
                        self.searchalldoclist=res.data; //把傳回之資料庫的資料置入前端呈現

                    })
                    .catch(function (err) { console.log(err); });
            }
        })

</script>