@*    
<div id="app3">

<v-table ref="table" :items="products" :fields="fields" bordered hover :head-variant="'light'" responsive="sm" v-else>
        <template v-slot:cell(index)="data">
            {{ data.index+1 }}
        </template>
        <template v-slot:cell(name)="data">
            <b-img thumbnail fluid :src="getImageUrl(data.item.image)" alt="Image 1" class="thumb-img"></b-img>
            {{data.item.name}}
        </template>
        <template v-slot:cell(weights)="data">
            <span v-weights="data.item"></span>
        </template>
        <template v-slot:cell(default_weight)="data">
            <span v-floatFormatter="data.item.default_weight"></span>{{data.item.unit.sname}}
        </template>
        <template v-slot:cell(status)="data">
            <span v-if="data.status" class="text-success text-bold">Active</span>
            <span class="text-danger" v-else>Inactive</span>
        </template>
        <template v-slot:cell(action)="data">
            <a @@click.prevent="editItem(data.item.id)"><i class="fa fa-edit" aria-hidden="true" title="Update product" v-b-tooltip.hover></i></a>
            <a @@click.prevent="assignWeights(data.item.id)"><i class="fa fa-balance-scale" title="Assign weights" aria-hidden="true" v-b-tooltip.hover></i></a>
        </template>
    </v-table>



</div>*@

<script type="text/javascript">
    //const vuetify = Vuetify.createVuetify()
    //   const adminpage = Vue.createApp({
    //       //Data Manager
    //      props: ['category', 'singular', 'plural', 'products'],
    //       data(){
    //            return{
    //            title: `All ${this.plural}`,
    //            items: [],
    //            editing: false,
    //            weight_assignment: false,
    //            model: null,
    //            formTitle: '',
    //            fields: [
    //                {
    //                    key: 'index',
    //                    label: 'S.No.'
    //                },
    //                {
    //                    key: 'name',
    //                    sortable: true
    //                },
    //                {
    //                    key: 'weights'
    //                },
    //                {
    //                    key: 'default_weight',
    //                    sortable: true
    //                },
    //                {
    //                    key: 'status',
    //                    sortable: true
    //                },
    //                {
    //                    key: 'action'
    //                }
    //                ]
    //            }
    //       },
    //       //Method Manager
    //       methods:{
    //        showAlert(a) {
    //            //if (event.target.classList.contains('btn__content')) return;
    //            /*alert('Alert! \n' + a.name);*/

    //            this.selected.name = a.name;
    //            this.selected.cal = a.calories;
    //            this.selected.fat = a.fat;
    //            this.fname = a.name

    //            console.log(this.selected.fat);
    //            console.log(this.fname);
    //        }

    //       },
    //       // Computed Manager
    //       computed:{

    //       },
    //       // Watch
    //       watch:{

    //       },
    //       mounted (){
               
    //        }
    //    }).use(vuetify).mount('#app');


</script>


    <div id="blog-posts-demo">
    <div v-bind:style="{fontSize:postFontSize+'em'}">
    <blog-post
        v-for="post in posts"
        :key="post.id"
        :title="post.title"
                   @@enlarge-text="postFontSize +=0.1"></blog-post>
    </div>
    </div>




<script type="text/javascript">
    const vuetify = Vuetify.createVuetify()
   
    const App = {
       
          data() {
                return{
                 posts : [
                        { id: 1, title: 'My journey with Vue' },
                        { id: 2, title: 'Blogging with Vue' },
                        { id: 3, title: 'why Vue is so fun!' },
                        { id:4, title: '這是VUE' },
                        { id:5, title: 'My journey with NET' },
                    ],
                    postFontSize: 1,
                }
           } 
           
      
    }

    const app =Vue.createApp(App);
    app.component("blog-post",{
        props: ['title'], //傳遞至子類可接受
        emit:['enlarge-text'],
        template: `<div class="blog-post">
            <h4>{{title}}</h4>
            <button @@click="$emit('enlarge-text')">Enlarge text文字放大</button>
        
        </div>
        
        `    
    });

    app.use(vuetify).mount('#blog-posts-demo');

</script>

