<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 診所預約系統</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />  
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.2/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/main.min.css" />
    <link rel="stylesheet" href="~/lib/vuetify/vuetify.css" />
    <!-- Add src axios js-->
    <script src="~/js/axios.min.js"></script>
    <!-- Add src Vue 2.6.11 js-->
@*    <script src="~/js/vue.min.js"></script>*@
    <!-- Add src Vue 3.2.4 js-->
    <script src="~/lib/vue/vue.global.min.js"></script>
    <script src="~/lib/vuetify/vuetify.min.js"></script>
    <!--Add jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
 @*   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js'
            integrity='sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=='
            crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js' integrity='sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ==' crossorigin='anonymous'></script>
*@
</head>
<body>
<header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">預約系統</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                首頁
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">
                                隱私
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">
                                管理者首頁
                            </a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Edit">
                            管理者編輯
                        </a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Doctor" asp-action="Index">
                                醫生
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">
                                使用者
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="fill_in_data">
                                填寫資料
                            </a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Appoint" asp-action="Index">
                            TABLE
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            <ul class="navbar-nav ml-auto">
					<!-- #region 登入登出 註冊 NavBar this is right-->
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
									註冊/登入
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="/Buyer/register">醫生</a>
									<a class="dropdown-item" href="/Login_Register/LoginRegister">病人</a>
								</div>
							</li>
					<!-- #endregion-->
				</ul>
            </div>
        </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - 小型預約系統練習 - <a asp-area="" asp-controller="Home" asp-action="Privacy">隱私</a>
        </div>
    </footer>
    <script src="~/lib/jquery-ui-1.13.2/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
